/* CSS untuk homepage */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Footer Container */
.footer {
    background-color: #f0f0f0;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Daftar Tautan (ul) */
.footer ul {
    margin-top: 10px;
    text-align: center;
    list-style: none;
}

/* Item Tautan (li) */
.footer li {
    display: inline;
    margin-bottom: 10px;
    margin-left: 20px;
}

#fb {
    margin-left: 800px;
}

/* Ikon Media Sosial (i) */
.footer i {
    font-size: 24px;
}

/* Atur warna dan margin untuk tautan di footer */
.footer a {
    color: #000;
    margin-right: 10px;
    text-decoration: none;
}

/* Atur warna untuk teks hak cipta */
.footer p {
    color: #777;
    margin-top: 10px;
    margin-left: 0;
}
